@model CosmeticShop.Model.Entities.SearchProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SearchProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSortByPriceRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSortByPriceRequired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SearchProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
